{% extends "portfolio/base.html" %}

{% load static %}

{% block content %} 

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/cat pic.jpeg' %}" class="img-fluid" width="350" height="400" >
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h3 id="hometext" class="font-weight-bold" font-size: 20px>Hi😊 I'm Liang Espland. I like Python, snacks, outdoors, and trying new things 🏝 </h3>
  </div>
</div>
<br>
<br>
<h3 class="mt-5">Projects</h3>
<hr>
<div class="row">
  {% for project in projects %}
    <li>
      <a href="{{ project.url }}">{{ project.title }}</a>
      <p>{{ project.description }}</p>
    </li>
  {% endfor %}
</div>

{% endblock %}
